
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.Call-Off{
 margin: 0;
  width: 100%;
  height: 100vh;
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  opacity: 0;
  z-index: -1;
 }
 .leaveContainer{
  margin: 0;
   width: 100%;
   height: 100vh;
   position:fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   transition: var(--transition);
   opacity: 0;
   z-index: -1;
  }
  .DateHandler{
  width: 100%;
  height: 10vh;
  margin-top: 1.5%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  }
 .goingContainer{
  margin: 0;
   width: 100%;
   height: 100vh;
   position:fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   transition: var(--transition);
   opacity: 0;
   z-index: -1;
  }
  .Date{
    font-size: 3rem;
    color: #d36c6c;
  }
  
 .show{
   opacity: 1;
   z-index: 100;
 }
.callOffList{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#leaveMain{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.goingMain{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.Title{
  width: 100%;
  height: 15vh;
  padding-top: 5%;
  background-color: var(--clr-grey-9);
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 100px;
}

.Title h1{
  margin-top: 2%;
  color:#000;
  text-shadow:0 0 3px rgba(0, 0, 0, 0.3) ;
}
.Title .leave{
  margin-top: 5%;

}
#callSubmit{
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
  margin:30px;
  margin-left: 25%;
  background-color: var(--clr-grey-9);
  color:var(--clr-grey-2);
  border-width: 0px;

}
#callCancel{
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
  margin: 30px;
  margin-right: 25%;
  background-color: var(--clr-grey-9);
  color:var(--clr-grey-2);
  border-width: 0px;
 
}
#leaveSubmit{
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
  margin:30px;
  margin-left: 25%;
  background-color: var(--clr-grey-9);
  color:var(--clr-grey-2);
  border-width: 0px;

}
#leaveCancel{
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
  margin: 30px;
  margin-right: 25%;
  background-color: var(--clr-grey-9);
  color:var(--clr-grey-2);
  border-width: 0px;
 
}

#dateNext{
  font-size: 1.5rem;
  padding: 5px;
  margin: 10px;
  margin-left: 5%;
  background-color: transparent;
  color:var(--clr-grey-2);
  border-width: 0px;
  display: inline-flex;
  text-align: center;

}
#dateBack{
  font-size: 1.5rem;
  padding: 5px;
  margin: 10px; 
  margin-right: 5%;
  background-color: transparent;
  color:var(--clr-grey-2);
  border-width: 0px;
  display: inline-flex;
  text-align: center;
  
  
 
}
#goDone{
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
  margin:30px;
  margin-left: 20%;
  background-color: var(--clr-grey-9);
  color:var(--clr-grey-2);
  border-width: 0px;

}
#goCancel{
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
  margin: 30px;
  margin-right: 25%;
  background-color: var(--clr-grey-9);
  color:var(--clr-grey-2);
  border-width: 0px;
 
}


.Names{
  padding-top: 10px;
  margin: 2px;
  margin-top: 20px;
  width: 70vw;
  height: 70vh;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;

}
.goNames{
  padding-top: 10px;
  margin: 2px;
  margin-top: 35px;
  width: 70vw;
  height: 70vh;
  background-color: #ffffff;
  display: block;
  justify-content: space-between;
  /* overflow: scroll; */
  flex-direction: column;

}
.goNames button{
  margin: 3px;
  width: 90%;
  font-size: 2.5rem;
  margin-left: 20px;
  padding: 15px;
  background-color: #fff;
  color: #000000;
  border-width: 0px;
  max-height: 100px;
  /* display: flex; */
  /* flex-direction: column; */

}

.Names button{
  margin: 10px;
  width: 90%;
  font-size: 2rem;
  margin-left: 20px;
  padding: 30px;
  background-color: #fff;
  color: #000000;
  border-width: 0px;
  max-height: 100px;
  display: flex;
  flex-direction: column;

}
/* .Names button:hover{
  background-color: var(--clr-grey-6);
  color: #fff;
  border-radius: 3px;


} */

.sidebar-toggle:hover {
  color: var(--clr-primary-7);
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  right: 90rem;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 2.5rem;
  top: 2rem;
  left: 3rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  
}
/* .close-btn:hover {
 font-size: 2rem;
} */
.logo {
  justify-self: center;
  height: 40px;
}

.links  button{
  margin: 0;
  padding: 0;
  display: block;
  font-size: 1.75rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-black);
  background:  var(--clr-grey-10) ;
  transition: var(--transition);
  border-width: 0px;
}
.links button:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.75rem;
}
.Names .clicked {
  background-color: var(--clr-grey-6);
  color: #fff;
  border-radius: 3px;
}
.text-slanted {
  font-family: 'Kaushan Script', cursive;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100vh;
  background: var(--clr-grey-10);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  /* transform: translate(-100%); */
  z-index: 12;
}
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: var(--transition);
  opacity: 0;
  z-index: -1;
}
.sidebar-overlay.show {
  opacity: 1;
  z-index: 100;
}
.show-sidebar {
  transform: translate(0);
}

#main-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* margin-top: 50px; */
    justify-content: center;
    background-color: #FFFCFF;
  }
  button.navigate {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;

  }.sidebar-toggle {
    margin: 1%;
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    /* transition: var(--transition); */
    cursor: pointer;
  }

  
  #header {
    padding: 10px;
    color: #d36c6c;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button.navigate {
    background-color:#92a1d1;
  }
  #container {
    margin-top: 10%;
    width: 100%;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: #247BA0;
  }
  #weekdays div {
    width: 12vw;
    padding: 10px;
    margin-left: 6px;
    font-size: 0.6rem;
  }
  #calendar {
    width: 100%;
    margin: auto;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 11vw;
    padding: 10px;
    height: 12vh;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .day:hover {
    background-color: #e8faed;

  }
  
  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: .25rem;
    padding: 1px;
    background-color: #58bae4;
    color: white;
    border-radius: 3px;
    max-height: 55px;
    overflow: hidden;
  }
  .eventLeave {
    font-size: .25rem;
    padding: 1px;
    background-color: #32dc32;
    color: white;
    border-radius: 3px;
    max-height: 55px;
    overflow: hidden;
  }
  .eventCO {
    font-size: .25rem;
    padding: 1px;
    background-color: #ec0707;
    color: white;
    border-radius: 3px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: #FFFCFF !important;
    box-shadow: none !important;
  }
  /* #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 100vw;
    height: 100vh;
    /* top: 100px; */
    /* left: calc(50% - 175px); */
    /* position: absolute;
    font-family: sans-serif;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  } */
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  } */
  #saveButton, #closeButton {
    background-color: #92a1d1;
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }

  @media screen and (min-width: 780px){
  
    h1{
      font-size:1.75rem;
    }
    #container{
      width:770px;
      margin-top: 4%;
    }
    #weekdays div{
      font-size: 1rem;
      margin-left: 0;
    }
    .day{
      width: 100px;
      height: 150px;
      padding: 10px;

    }
    #calendar{
      margin-left: 0;
    }
    #main-container {
      display: flex;
      width: 100%;
      flex-direction: inherit;
    
    }
    .event{
      font-size:10px;
    }
    .eventLeave{
      font-size:10px;
    }
    .eventCO{
      font-size:10px;
    }
    #goDone{
      font-size: 1.5rem;
      margin-left: 30%;
    }
    #goCancel{
      font-size: 1.5rem;
      margin-right: 30%;
    }
    #leaveSubmit{
      font-size: 1.5rem;
      margin-left: 30%;
    }
    #leaveCancel{
      font-size: 1.5rem;
      margin-right: 30%;
    }
    #callSubmit{
      font-size: 1.5rem;
      margin-left: 30%;
    }
    #callCancel{
      font-size: 1.5rem;
      margin-right: 30%;
    }
    .Title{
      padding-top:0;

    }
    .Title .leave{
      margin-top: 1.5%;
    
    }
  }
  @media screen and (min-width: 410px){
    .Title .leave{
      margin-top: 2%;
    }
  }